@import "tailwindcss";

html, body {
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background: linear-gradient(to bottom, #186863 0%, #084040 50%, #011217 100%);
  margin: 0;
  padding: 0;
  
  
  background-color: #0a0a0a;
  background-image:
    radial-gradient(circle at 1px 1px, #d1d5db 1px, transparent 0);
  
}

h1, h2, h3, .font-cherry-swash {
  font-family: 'Cherry Swash', cursive !important;
}



