@import "tailwindcss";

html, body {
  @apply min-h-screen w-full;
  background: linear-gradient(to bottom, #186863 0%, #084040 50%, #011217 100%);
  margin: 0;
  padding: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
  background-image:
    radial-gradient(circle at 1px 1px, #d1d5db 1px, transparent 0);
  
}



